body{
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    top: 0;
}
.container{
    margin-top: 50px;
}
#color-box{
    width: 200px;
    height: 200px;
    background-color: #dac8c8;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#change-color-btn{
    padding: 10px 20px;
    font-size: 15px;
    background-color: #07d10e;
    color: whitesmoke;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s;
    cursor: pointer;
}
#change-color-btn:hover{
    background-color: #036c17;
}